@use '../functions' as f;

nav {
    max-width: f.space("xxxxl", 23);
    margin: auto 0;
    padding-top: f.space("sm");
    display: flex;
    align-items: center;
    background: var(--inverse);
    box-sizing: border-box;

    .left,
    .right,
    .logo {
        display: flex;
        align-items: center;
        margin-top: auto;
    }
}

a {
    img {
        height: f.space("sm", 2);
    }
}
