@use "../variables" as *;
@use "../type" as *;

nav {
    max-width: space("xxxxl", 23);
    margin: 0 auto;
    padding: space("sm") space("lg");
    display: flex;
    background: $inverse;
    box-sizing: border-box;

    & > a,
    div {
        padding: space("lg") 0;
    }

    .left,
    .right {
        & {
            display: flex;
            margin-top: auto;
        }
    }

    .logo {
        img {
            height: space("sm", 2);
        }
    }
}
