a {
    &:hover {
        color: var(--col-brand-500);
    }

    text-decoration: none;
    color: var(--text);
    font-size: var(--text-xs);
    font-weight: var(--text-heading-weight);
    margin: 0 var(--space-xxs) 0 var(--space-xxs);
}
