@use "sass:math";
@use "variables" as *;
@use "font";

/* https://medium.com/codyhouse/create-your-design-system-part-1-typography-7c630d9092bd */
/* https://codyhouse.co/ds/docs/framework/typography */
$font: "Poppins", Helvetica, Arial, sans-serif;
$text: col($black);
$inverse: $white-pure;
$base-size: 1em;
$base-weight: 400;
$heading-weight: 600;

/* Creates Text Size */
$text-xs: #{$base-size * 0.75};
$text-sm: #{$base-size};
$text-md: #{$base-size * 1.5};
$text-lg: #{$base-size * 1.75};
$text-xl: #{$base-size * 2};
$text-xxl: #{$base-size * 2.5};

/* Creates Line Size */
$line-sm: calc(1ex / 0.42);
$line-md: calc(1ex / 0.48);
$line-lg: calc(1ex / 0.52);

/* Applies Text Size */
/* https://www.smashingmagazine.com/2020/07/css-techniques-legibility/ */
body {
    font-size: $text-sm;
    font-family: $font;
    color: $text;
    background: $inverse;
    font-weight: $base-weight;
}

h1 {
    font-size: $text-xxl;
    line-height: $line-lg;
    margin-bottom: $line-lg;
}

h2 {
    font-size: $text-xl;
    line-height: $line-lg;
    margin-bottom: $line-lg;
}

h3 {
    font-size: $text-lg;
    line-height: $line-md;
    margin-bottom: $line-md;
}

h4 {
    font-size: $text-md;
    line-height: $line-md;
    margin-bottom: $line-md;
}

p,
ol,
ul {
    font-size: $text-sm;
    line-height: $line-sm;
    margin-bottom: $line-sm;
}

p,
em,
strong {
    width: 60ch;
    max-width: 100%;
}

h5,
small,
h6 {
    font-size: $text-xs;
    line-height: $line-sm;
    margin-bottom: $line-sm;
}

strong {
    font-weight: $heading-weight;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: $heading-weight;

    a {
        color: col($black, 400);
        text-decoration: none;
        cursor: pointer;
    }
}

@supports (font-size-adjust: 1) {
    article {
        font-size-adjust: 0.5;
    }
}
