@use "sass:math";
@use "variables";
@use "font";

/* https://medium.com/codyhouse/create-your-design-system-part-1-typography-7c630d9092bd */
/* https://codyhouse.co/ds/docs/framework/typography */
$font: "Poppins", Helvetica, Arial, sans-serif;
$base-size: 1.12em;
$base-weight: 400;
$heading-weight: 500;
$heading-line-height: var(--space-lg);
$body-line-height: var(--space-lg);
$letter-spacing: 0;
$word-spacing: 0;

:root {
    --font: #{$font};
    --text-base-size: #{$base-size};
    --text-base-weight: #{$base-weight};
    --text-heading-weight: #{$heading-weight};

    --body-line-height: #{$body-line-height};
    --heading-line-height: #{$heading-line-height};
    --word-spacing: #{$word-spacing};
    --letter-spacing: #{$letter-spacing};

    --text-xxs: #{$base-size * 0.65};
    --text-xs: #{$base-size * 0.75};
    --text-sm: #{$base-size};
    --text-md: #{$base-size * 1.5};
    --text-lg: #{$base-size * 1.75};
    --text-xl: #{$base-size * 2};
    --text-xxl: #{$base-size * 2.5};
    --text-xxxl: #{$base-size * 3};
}

/* Applies Text Size */
/* https://www.smashingmagazine.com/2020/07/css-techniques-legibility/ */
body {
    font-size: var(--text-sm);
    font-family: var(--font);
    color: var(--text);
    background: var(--inverse);
    word-spacing: var(--word-spacing);
}

h1 {
    font-size: var(--text-xxl);
    line-height: calc(1ex / 0.52);
    margin-bottom: calc(1ex / 0.52);
}

h2 {
    font-size: var(--text-xl);
    line-height: calc(1ex / 0.52);
    margin-bottom: calc(1ex / 0.52);
}

h3 {
    font-size: var(--text-lg);
    line-height: calc(1ex / 0.48);
    margin-bottom: calc(1ex / 0.48);
}

h4 {
    font-size: var(--text-md);
    line-height: calc(1ex / 0.48);
    margin-bottom: calc(1ex / 0.48);
}

p,
ol,
ul,
i,
b {
    display: block;
    font-size: var(--text-sm);
    line-height: calc(1ex / 0.42);
    margin-bottom: calc(1ex / 0.42);
}

p {
    width: 60ch;
    max-width: 100%;
}

h5,
small,
h6 {
    font-size: var(--text-xs);
    line-height: calc(1ex / 0.42);
    margin-bottom: calc(1ex / 0.42);
}

strong f {
    font-weight: var(--text-heading-weight);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: var(--text-heading-weight);

    a {
        color: var(--col-black-400);
        text-decoration: none;
        cursor: pointer;

        &:hover {
            text-decoration: underline;
            text-decoration-color: var(--col-brand-900);
        }
    }
}

kbd {
    background: var(--mono-tint3);
    border-radius: var(--border-radius-m);
    margin: 0 var(--space-xs);
    min-width: var(--space-md);
    padding: var(--space-sm);
}

.notice {
    padding: var(--space-md) var(--space-md) var(--space-md) var(--space-xxl);
}

@supports (font-size-adjust: 1) {
    article {
        font-size-adjust: 0.5;
    }
}
