/* Github Corner Icon */

.github-corner {
	display: none;
}

/* Header */
.app-nav {
	display: flex;
	align-items: center;
	height: var(--space-xxxl);
	padding: var(--space-md) 0;
	margin: 0 var(--space-md);
	background: var(--inverse);

	.app-name {
		display: flex;
		margin-right: var(--space-md);
		a {
			padding: 0;
			display: flex;
			align-items: center;
			img {
				height: var(--space-md);
			}
		}
	}

	#docs-menu {
		margin-right: var(--space-lg);
	}

	ul {
		list-style-type: none;
		width: 100%;
		margin: 0;
		padding: 0;
		height: 100%;
		display: flex;
		align-items: center;

		li {
			margin: auto var(--space-xxs) 0 var(--space-xxs);
			display: flex;
			flex-direction: column;

			&:last-child {
				margin-right: 0;
			}

			a {
				&:hover {
					color: var(--col-brand-500);
				}

				text-decoration: none;
				color: var(--text);
				font-size: var(--text-xxs);
				font-weight: var(--text-heading-weight);
			}
		}
	}
}

/* Sidebar */

.sidebar-nav {
	display: none;
}

.sidebar-toggle {
	display: none;
}

/* Square */

.square {
	height: 500px;
	border-radius: 10px;

	.details {
		padding: var(--space-xxxl);
	}

	img {
		height: 100%;
	}
}

.split {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin: 0 var(--space-lg);

	.square {
		flex-grow: 1;
		flex-basis: 0;
		min-width: 0;
		background-size: cover;
		background-position: center;

		&:first-child {
			margin-right: var(--space-lg);
		}

		.title {
			font-weight: 700;
			font-size: var(--text-xxl);
			margin: 0 0 var(--space-xxxs) 0;
		}

		.subtitle {
			font-size: var(--text-xl);
			margin: 0 0 var(--space-xxs) 0;
		}

		.detail {
			font-size: var(--text-xs);
			margin: 0 0 var(--space-xxs) 0;
		}
	}
}

/* Content */

.content {
	position: relative;
	margin: 0 auto;
	max-width: 1280px;
}

/* Tables */
.markdown-section table tr td,
.markdown-section table th {
	border-right: 1px solid var(--col-black-50);
}

.markdown-section table {
	border: 1px solid var(--col-black-50);
}
