/* Github Corner Icon */

.github-corner {
	display: none;
}

/* Header */
.app-nav {
	display: flex;
	align-items: center;
	height: var(--space-xxxl);
	padding: var(--space-md) 0;
	background: var(--inverse);
	margin: 0 var(--space-md);

	.app-name {
		height: 100%;
		display: flex;
		align-items: center;
		margin-right: var(--space-lg);
		a {
			display: flex;
			align-items: center;
			height: var(--space-xl);
			img {
				height: var(--space-lg);
			}
		}
	}

	#docs-menu {
		margin-right: var(--space-lg);
	}

	ul {
		list-style-type: none;
		padding: 0;
		display: flex;
		width: 100%;
		justify-content: flex-start;

		li {
			margin: 0 var(--space-md) 0 0;

			a {
				text-decoration: none;
				color: var(--text);
				font-size: var(--text-xs);
				font-weight: var(--text-heading-weight);

				&:hover {
					color: var(--col-brand-500);
				}
			}
		}
	}
}

/* Sidebar */

.sidebar-nav {
	display: none;
}

.sidebar-toggle {
	display: none;
}

/* Content */

.content {
	padding: 0 var(--space-xxl);
}

/* Tables */
.markdown-section table tr td,
.markdown-section table th {
	border-right: 1px solid var(--col-black-50);
}

.markdown-section table {
	border: 1px solid var(--col-black-50);
}
